:local .address {
  width: 100%;
  height: 100%;
  background: #eee;
  display: flex;
  flex-direction: column;
  flex: 1;
}

:local .address .header {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  background: #fff;
}

:local .address .header span {
  margin-left: 3%;
}

:local .address .header p {
  margin-left: 30%;
}

:local .address .imgs {
  width: 100%;
  height: 5px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAKCAMAAADfAc3wAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAYUExURc2AgICg1v///+rw+ffq6tKMjI2p2ouo2QT3I5MAAAA9SURBVCjPpcs5EgAgCARB5ND//9jEYwlZJp1q0ZTNAS3L10OgcGlYlYZNuGoRly3guv2YsA8z9mLKHsxZ3e5sBBsNqhCTAAAAAElFTkSuQmCC);
}

:local .address .content {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
}

:local .address .content .addresslist {
  width: 100%;
  display: flex;
  padding: 10px 0 10px 0;
  background: #fff;
}

:local .address .content .addresslist .peoplename {
  margin: 0 10px 0 20px;
  color: #FF9500;
}

:local .address .content .addresslist .info {
  flex-grow: 1;
}

:local .address .content .addresslist .info .p {
  color: #000;
  font-size: 16px;
}

:local .address .content .addresslist .info p {
  color: #666;
  font-size: 14px;
}

:local .address .content .addresslist .info span {
  color: #666;
  font-size: 14px;
}

:local .address .content .addresslist .removes {
  padding: 20px 20px 0 0;
}

:local .address .content .addresslist .removes img {
  width: 20px;
  height: 20px;
}

:local .address .footer {
  width: 100%;
  height: 60px;
  background: #108EE9;
  text-align: center;
  line-height: 60px;
  color: #fff;
}
