:local .interesting {
  width: 100%;
  height: 100%;
  background: #eee;
  position: relative;
}

:local .interesting .header {
  width: 100%;
  height: 50px;
  background: #fff;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}

:local .interesting .header p {
  margin-left: 35%;
  font-size: 15px;
}

:local .interesting .header span {
  margin-left: 3%;
  font-size: 20px;
}

:local .interesting .nav {
  width: 100%;
  height: 35px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  background: #fff;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  left: 0;
  z-index: 99999;
}

:local .interesting .nav p {
  height: 100%;
  padding: 0 20px;
  flex-shrink: 0;
}

:local .interesting .nav .active {
  border-bottom: 2px solid skyblue;
}

:local .interesting .box {
  width: 100%;
  height: 75px;
  text-align: center;
}

:local .interesting .box p {
  line-height: 40px;
  font-size: 15px;
  color: #000;
}

:local .interesting .box span {
  font-size: 14px;
  color: #666;
}

:local .interesting .wrapper {
  width: 100%;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
}

:local .interesting .wrapper .wrap {
  width: 50%;
}

:local .interesting .wrapper .wrap .imgs {
  width: 100%;
}

:local .interesting .wrapper .wrap .imgs img {
  width: 100%;
}

:local .interesting .wrapper .wrap .content {
  width: 100%;
  text-align: center;
}

:local .interesting .wrapper .wrap .content p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:local .interesting .wrapper .wrap .content span {
  color: #f00;
}
